{% extends "./base.html" %}

{% block title %} Gestión de Pedidos {% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h3>Ingreso de Pedidos</h3>
        <div class="card">
            <div classs="card-body">
                <form action="/registrarPedido/" method="POST" class="form-group">{% csrf_token %} 
                    <div class="form-group-item">
                        <input type="text" id="txtcliente" name="txtcliente" class="form-control" placeholder="Nombre del Cliente" maxlength="50"  required>
                    </div>
                    
                    <div class="form-group-item">
                        <select name="mpizza" id="mpizza" class="form-control">
                            <option value="">Tipo de Pizza</option>
                            {% for p in mypizza %}
                            <option value="{{ p.idtipopizza }}">{{ p.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group-item">
                        <select name="mpago" id="mpago" class="form-control">
                            <option value="">Forma de Pago</option>
                            {% for fp in mfpago %}
                            <option value="{{ fp.idformapago }}">{{ fp.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group-item">
                        <input type="number" id="txtprecio" name="txtprecio" class="form-control" placeholder="Precio" required>
                    </div>        
                    <div class="form-group-item">
                        <input type="number" id="txtcant" name="txtcant" class="form-control" maxlength="10" placeholder="Cantidad" required>
                    </div>                                
                    <div class="form-group-item">                        

                        <input type="text" id="total_ventas" name="total_ventas" class="form-control"  value="" maxlength="10" placeholder="Total a Pagar" readonly>                        
                    </div>
                    <div class="form-group-item">
                            <button type="Submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                    <div class="form-group-item">
                        <button type="Submit" class="btn btn-danger btn-block text-white" onclick="history.back()">Cancelar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
      $("#txtcant, #txtprecio").on("input", function() {
        var cantidad = parseFloat($("#txtcant").val()) || 0;
        var precio = parseFloat($("#txtprecio").val()) || 0;
        var total = cantidad * precio;
        $("#total_ventas").val(total.toFixed(2));
      });
    });
  </script>
    {% endblock %}