{% load static %}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'regisuser.css' %}">

<div class="testbox">    
    <h1><b>Registro de Usuarios</b></h1>  
  <form method="POST" action="/registrarusuario/">
    {% csrf_token %}
    <hr>
    <div class="accounttype">
      <input type="radio" value="None" id="radioOne" name="account" checked />
      <label for="radioOne" class="radio" chec>Persona</label>
      <input type="radio" value="None" id="radioTwo" name="account" />
      <label for="radioTwo" class="radio">Compañia</label>
    </div>
    <hr>
    <label id="icon" for="name"><i class="icon-envelope "></i></label>
    <input type="text" name="txtuser" id="txtuser" placeholder="Usuario" required />   
    <label id="icon" for="name"><i class="icon-user"></i></label>
    <input type="text" name="txtname" id="txtname" placeholder="Nombre" required />
    <label id="icon" for="name"><i class="icon-shield"></i></label>
    <input type="password" name="txtpass" id="txtpass" placeholder="Contraseña" required />
    <div class="gender">
      <input type="radio" value="None" id="male" name="gender" checked />
      <label for="male" class="radio" chec>Hombre</label>
      <input type="radio" value="None" id="female" name="gender" />
      <label for="female" class="radio">Mujer</label>
    </div>
    <a href="{% url 'loginUrl' %}" class="button" >Login</a>    
   
    <div class="form-control">
        <button type="Submit" class="button">Guardar</button>
    </div>
    <div class="mensaje {% if mensaje_tipo %}{{ mensaje_tipo }}{% endif %}">
        {{ mensaje_texto }}
    </div>
  </form>
</div>